:root {
    --wostin-base: #fef08d !important;
    --wostin-green: #16a34a;
    --wostin-neon: #86efac;
    --wostin-primary: #fde047;
    --wostin-brown: #ca8a04;
    --wostin-blue: #2563eb;
    --wostin-font: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--wostin-font);
}

.main-menu-three .main-menu__list > li > a, .stricky-header.main-menu-three .main-menu__list > li > a {
    color: var(--wostin-black);
}

.thm-btn {
  padding: 0.25rem 1.5rem;
  border: 5px solid currentColor; 
  border-radius: 1rem;
  text-transform: uppercase;
}
.thm-btn:hover {
  color: var(--wostin-black) !important;
}

.thm-btn--bg-black {
  background-color: var(--wostin-black);
  color: var(--wostin-primary) !important;
  border-color: currentColor;
}
.thm-btn--bg-black:hover {
  background-color: var(--wostin-black);
  color: var(--wostin-primary) !important;
  border-color: currentColor;
}
.thm-btn--bg-black:after {
  background-color: var(--wostin-black) !important;
}

.thm-btn--bg-white {
  background-color: white;
  color: var(--wostin-black) !important;
  border-color: currentColor;
}

.thm-btn--bg-neon {
  background-color: var(--wostin-black);
  color: var(--wostin-neon) !important;
  border-color: currentColor;
}

.main-slider h2 {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--wostin-black);
    margin-bottom: 1rem;
}

.main-slider p {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--wostin-black);
    margin-bottom: 2rem;
}


html, body {
    background-image: linear-gradient(to bottom, #fef08a, #dcfce7);
    color: var(--wostin-black);
}

.main-slider-three-bg {
    background: unset;
}

.main-slider-three .container {
    padding-top: 125px !important;
    padding-bottom: 125px !important;
}


@media only screen and (max-width: 767px) {
    .main-slider-three .container {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .services-two__content-box{
        padding: 1.5rem;
    }
}



.services-two__content-box{
    border: 5px solid var(--wostin-black);
    border-radius: 1rem;
}

.welcome__img{
    border-radius: 3rem;
}


.main-slider-three-car{
    bottom: 100px;
}.main-slider-three-car img{
    width: 49%;
    float: right;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-slider-three-car img{
        width: 49% !important;
    }
}

.section-title__tagline{
    background-color: var(--wostin-black);
    color: var(--wostin-neon);
    border-radius: 2rem;
    padding: 0.25rem 2rem;
}

.welcome__count,
.always-working__count {
    background-color: unset;    
}
 
.welcome__count:before,
.always-working__count:before {
    background-color: var(--wostin-primary);
    border: 3px solid var(--wostin-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__text-1 {
    color: var(--wostin-green);
}

.main-menu-three__call-number p{
    color: var(--wostin-black);
}


.main-menu-three__call-number a, .main-menu-three__call-icon .icon-phone-ringing:before{
    color: var(--wostin-green);
}
.main-menu-three__call-number a:hover{
    color: var(--wostin-brown);
}

.main-menu-three .main-menu__list > li.current > a, .main-menu-three .main-menu__list > li:hover > a, .stricky-header.main-menu-three .main-menu__list > li.current > a, .stricky-header.main-menu-three .main-menu__list > li:hover > a {
    color: var(--wostin-brown);
}

.badge{
    font-weight: bold;;
    margin-bottom: 20px;
    color: var(--wostin-black);
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid var(--wostin-green);
    border-radius: 2rem;;
}

.main-slider-three-car {
    right: 45px;
}

.cta{
    background-color: var(--wostin-black);
    color: var(--wostin-primary) !important;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
}

.cta h3{
    color: var(--wostin-primary) !important;
    font-weight: 900;
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
}

.cta p{
    color: var(--wostin-neon) !important;
    font-weight: bold;
    font-size: 1.2rem;
}
.main-header-three{
    position: relative;
}
.main-header-three, .main-menu-three {
    background-color: white !important;
}

.text-green--wostin {
    color: var(--wostin-green) !important;
}
.text-brown--wostin {
    color: var(--wostin-brown) !important;
}

.services-two__read-more a {
    margin-top: 1rem;
    transition: none;
}
.services-two__read-more a:hover {
    background-color: var(--wostin-primary);
    color: var(--wostin-black);
    border: 2px solid currentColor;
}

.card {
    padding: 2rem;
    border-radius: 2rem;   
    border: 5px solid var(--wostin-black);
    color: var(--wostin-black);
    display: block;
}

.card .card__promo-discount {
    padding: 1rem;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.card h3{
    margin: 1.2rem 0;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card--primary{
    background-color: rgba(138, 175, 255, 0.5); /* var(--wostin-blue) with 80% opacity */
}

.card--secondary{
    background-color: var(--wostin-primary)
}
.card--primary span{
    color: white;
    background-color: var(--wostin-blue);   
}

.card--secondary span{
    color: var(--wostin-primary);
    background-color: var(--wostin-black);
}

.card--secondary a, .card--secondary a:hover {
    color: var(--wostin-primary);
}

.main-menu-three .mobile-nav__toggler{
    color: var(--wostin-black) !important; 
}

.working-process__count:before{
    color: var(--wostin-black);
}

.working-process__title a:hover{
    color: var(--wostin-green) !important;
}

.scroll-to-top:not(:hover) i{
    color: var(--wostin-black) !important;
}

.bg-wostin-neon {
    background-color: var(--wostin-neon) !important;
}

.bg-wostin-base {
    background-color: var(--wostin-base) !important;
}

.bg-wostin-green {
    background-color: var(--wostin-green) !important;
}

.bg-wostin-primary {
    background-color: var(--wostin-primary) !important;
}

.factoids {
    background-color: rgba(250, 250, 250, 0.3);
    padding: 2rem;
    border-radius: 1rem;
}

.btn_allServices{
    margin-top: -3rem;
}

.project-three__img{
    display: flex;
}

.project-three__img img{
    border-radius: 1rem;
    height: 100%;
}

.card .badge--before, .card .badge--after{
    color: white;
    text-transform: uppercase;
    position: absolute;
    left: 1.2rem;
    top: 0.7rem;
    border: none;
}
.card .badge--before {
    background-color: red;
}
.card .badge--after {
    background-color: green;
}

.project-three__bottom .card{
    text-align: center;
    margin-bottom: 1.5rem;
}

.hero-logo {
    width: 20rem;
    height: auto;
}

.why-choose-two__founder-title{
    color: var(--wostin-black);
}

.why-choose-two__counter-content h2, .counter-two__plus{
    color: var(--wostin-black)
}

.testimonial-three__client-name{
    color: var(--wostin-black);
}

.testimonial-three__client-content, .testimonial-three__client-info{
    margin-left: 0;
}

.testimonial-three__quote span{
    color: var(--wostin-black);
}

.testimonial-three__feedback i{
    color: var(--wostin-primary)
}


@media only screen and (max-width: 767px) {
    .manage-waste__title {
        font-size: 45px;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 767px) {
    .working-process{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.main-slider-three .swiper-slide{
    background-color: transparent;
}

.welcome__bottom{
    font-weight: bold;
}

.why-choose-two__founder-content{
    margin-left: 0;
}

@media (max-width: 767px) {
    .main-menu-three .mobile-nav__toggler, .main-menu-wrapper__logo{
        padding: 1.5rem 0 !important;
    }
    
}

.industries-one__icon span{
    color: var(--wostin-black);
}

.waste-materials__inner, .waste-materials-bg{
    background-color: #558e4c;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1440px;
    }
}

@media screen and (max-width: 767px) {
    .main-slider-three-car{
        position: relative;
        left: 0;
        top: 0;
        display: flex !important;
        justify-content: center;
    }

    .main-slider-three-car img{
        width: 70%;
        float: none;
    }
}

@media (max-width: 767px) {
    .welcome{
        padding: 0 0 100px;
    }

    .main-slider-three .swiper-slide{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 991px) {
    .always-working{
        padding: 50px 0;
    }
    
}

.always-working__points li .icon span {
    background-color: var(--wostin-black);
}

.testimonial-one__client-name, .testimonial-one__quote span{
    color: var(--wostin-green);
}

.why-choose-one__title, 
.why-choose-one__text, 
.why-choose-one__points li .text p, 
.why-choose-one__points li .icon span, 
.mobile-nav__content .main-menu__list li a button,
.mobile-nav__contact li > i,
.waste-materials__point-1 li .icon span,
.service-details__cagegory-list li.active a span,
.service-details__banner-title{
    color: var(--wostin-black) !important;
}

.service-betails__benefits-text-1,
.service-details__text-2{
    color: var(--wostin-brown);
}

.service-details__points-icon span,
.faq-one-accrodion .accrodion.active .accrodion-title h4{
    color: var(--wostin-green);
}

.testimonial-one__client-content, 
.testimonial-one__client-info{
    margin-left: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-widget__services {
        margin-top: 0 !important;
    }
}

.why-choose-one__img img {
    width: auto;
}